body{
    background-color:#dcdcdc;
} 
div {
  background: rgba(0, 128, 0, 0.3) /* Green background with 30% opacity */
}




.col-lg-12{
  display: flex
  justify-content= center
      
}